*{
    text-align: center;
}

h1{
    color: aliceblue;
}

body {
    background:rgb(0, 119, 255);
}

div#first__div {
    width: 500px;
    height: auto;
    margin: auto;
    padding: 25px;
    border: 15px solid white;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 10px 10px black;
}

#sec__div {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    border: 15px solid white;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 10px 10px black;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {box-shadow: 10px 20px 30px rgb(240, 201, 27);}
}

#botao {
    margin-top: 15px;
}

footer {
    margin-top: 20px;
    font-size: x-large;
    color: white;
}